h1{
    color: red;
}

h2{
    color: blue;
}

h3{
    color: brown;
}

h4{
    color: green;
}

h5{
    color: yellow;
}

.p1{
    color: blueviolet;
}

.p2{
    color: chocolate;
}

.p3{
    color: darkgoldenrod;
}

.p4{
    color: crimson;
}

.p5{
    color: maroon;
}